doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=	, initial-scale=1.0")
    style 
      include ./styles.css
  body 
    h2 hola #{usuario.nombre}

    p para reestablecer tu password haz click en el siguiente enlace  
    a(href=`${url}`) Reset password

    